<%- include('../common/header.ejs') %>
<link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css">
<script src="/node_modules/mditor/dist/js/mditor.min.js"></script>
    <div class="container">
      <h1>文章编辑</h1>
      <hr>
      <form id="form">
        <!-- 在进入文章添加页面的一瞬间，就立即把 文章的 作者Id，保存到 一个隐藏域中，防止 session 失效的问题 -->
        <input type="hidden" name="id" value="<%= articleInfo.id%>">
        <div class="form-group">
          <label>文章标题：</label>
          <input type="text" name="title" class="form-control" required value="<%= articleInfo.title%>">
        </div>
  
        <div class="form-group">
          <label>文章内容：</label>
          <textarea name="content" class="form-control" id="editor">
            <%= articleInfo.content%>
          </textarea>
          <!-- <textarea name="editor" id="editor"></textarea> -->
        </div>
  
        <div class="form-group">
          <input type="submit" value="保存文章" class="btn btn-primary">
        </div>
      </form>
    </div>
    <script>
        $(function () {  
            var mditor =  Mditor.fromTextarea(document.getElementById('editor'));
            //获取或设置编辑器的值
            mditor.on('ready',function(){
              // console.log(mditor.value);
            //   mditor.value = '** hello **';	
            });

            $('#form').on('submit',function () {
              // console.log('res');
              $.ajax({
                type:'post',
                url:'/article/edit',
                data:$('#form').serialize() ,
                success:function(res){
                  // console.log(res);
                  if(res.status !== 200) return alert(res.msg)
                  location.href = '/article/info/' + location.pathname.split('/').pop()
                },
                error:function(err){
                  alert(responseJSON.msg);
                }
              })
              return false
            })
           


        })
    
    
    </script>
    <!-- =号 是纯文本渲染 -号 是html标签渲染 -->
  <%- include('../common/footer.ejs') %>
  
  